/* Graphik Font */
@font-face {
    font-family: "Graphik-web";
    src: url("../vendor/custom-fonts/Graphik/Graphik-Regular-Web.woff2") format("woff2"),
    url("../vendor/custom-fonts/Graphik/Graphik-Black-Web.woff2") format("woff2"),
    url("../vendor/custom-fonts/Graphik/Graphik-Bold-Web.woff2") format("woff2"),
    url("../vendor/custom-fonts/Graphik/Graphik-Semibold-Web.woff2") format("woff2");
  }

/* ///////////////////////// */
.SF-font {
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

.Graphik-font {
    font-family: 'Graphik-web', Helvetica, sans-serif;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}